#header {
  background-color: rgb(174, 5, 5);
  font-size: 28;
  color: white;
}

#mainImage {
  size: 50%;
}

.side_img {
  height: 200px;
  width: 200px;
}

.right {
  font-size: 18;
  color: white;
  float: right;
}

.black_box {
  background-color: rgb(60, 60, 60);
}